<div ng-include="'/Modules/UI_Common/Header.html'"></div>
<div class="container" ng-controller="PasswordManagementController">
    <div class="inner-round peel-shadows">
        <div class="header-blue">
            <div>
                Administration:
                <p>User Password Reset</p>
            </div>
        </div>
        <div class="inner-body">
            <h4>Filter Criteria</h4>
            <div class="search-info" id="searchdata">
                <a id="Close" class="close">
                    <i class="fa fa-close"></i>
                </a>
                <div class="all-form row">
                    <div class="col-sm-4 col-md-4">
                        <div class="form-div">
                            <label class="control-label">Type:</label>
                            <select class="form-control input-sm" ng-model="Type">
                                <option value="">Select</option>
                            </select>
                        </div>
                        <div class="form-div">
                            <label class="control-label">Role:</label>
                            <select class="form-control input-sm" ng-model="Role">
                                <option value="">Select</option>
                            </select>
                        </div>
                        <div class="form-div">

                            <label class="control-label">Status:</label>
                            <select class="form-control input-sm" ng-model="Status">
                                <option value="">Select</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <div class="form-div">
                            <label class="control-label" for="inputSuccess2">Last Name</label>
                            <input type="text" class="form-control input-sm" ng-model="LastName" />
                        </div>

                        <div class="form-div">

                            <label class="control-label" for="inputSuccess2">User Name</label>
                            <input type="text" class="form-control input-sm" ng-model="UserName" />
                        </div>
                        <div class="form-div">
                            <label class="control-label" for="inputSuccess2">Email:</label>
                            <input type="text" class="form-control input-sm" ng-model="Email" />
                        </div>
                    </div>
                    <div class="col-sm-4 col-md-4">
                        <div class="form-div">
                            <label class="control-label">IsPending:</label>
                            <select class="form-control input-sm">
                                <option value="">Select</option>
                            </select>
                        </div>

                    </div>
                </div>
                <div class="text-right mt10">
                    <a class="btn btn-success btn-sm mr10">Search</a>
                </div>
            </div>
            <hr />
            <h4>User Search</h4>
            <div>
                <p>Resetting a user's password will also activate that user if they are currently pending. </p>
            </div>
            <table class="table user-table table-bordered mt10">
                <thead>
                    <tr class="light-blue">
                        <th class="text-center" style="color:#fff;"><input type="checkbox" /></th>
                        <th class="lg-width" style="color:#fff;">UserName</th>
                        <th class="lg-width" style="color:#fff;">Name</th>
                        <th class="lg-width" style="color:#fff;">Email</th>
                        <th class="text-center" style="color:#fff;">Type</th>
                        <th class="text-center" style="color:#fff;">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center"><input type="checkbox" /></td>
                        <td class="lg-width">UserName</td>
                        <td class="lg-width">Name</td>
                        <td class="lg-width">Email</td>
                        <td class="text-center">Type</td>
                        <td class="text-center txt-disabled">Disabled</td>
                    </tr>

                    <tr>
                        <td class="text-center"><input type="checkbox" /></td>
                        <td class="lg-width">UserName</td>
                        <td class="lg-width">Name</td>
                        <td class="lg-width">Email</td>
                        <td class="text-center">Type</td>
                        <td class="text-center txt-disabled">Disabled</td>
                    </tr>
                </tbody>
            </table>
            <div class="passmang-pagination">
                <nav class="pull-left">
                    <ul class="pagination">
                        <li class="page-item">
                            <a aria-label="Previous" href="#" class="page-link">
                                <span aria-hidden="true">«</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <li class="page-item"><a href="#" class="page-link">1</a></li>
                        <li class="page-item"><a href="#" class="page-link">2</a></li>
                        <li class="page-item"><a href="#" class="page-link">3</a></li>
                        <li class="page-item"><a href="#" class="page-link">4</a></li>
                        <li class="page-item"><a href="#" class="page-link">5</a></li>
                        <li class="page-item">
                            <a aria-label="Next" href="#" class="page-link">
                                <span aria-hidden="true">»</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                </nav>

            </div>
            <div style="overflow:hidden;margin-bottom:10px;">
                <div class="pull-left mt10">
                    <a class="btn btn-success">Select All</a>
                </div>
                <div class="pull-right mt10">
                    <a class="btn btn-sm disabled" style="background-color:#9d9999;color:#fff;">Reset Passwords</a>
                </div>
            </div>
        </div>
    </div>
</div>
